@import "VTheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in VTheme.scss

.VTheme {
  @include addons;
  @include VTheme;
  	.v-upload .v-button {
        height: 28px;
		padding: 0 13px;
		font-size: 12px;
		border-radius: 4px;
    }
	.v-caption-right-to-left .v-captiontext {
	    float: right;
	}
	
	/* TextField content */
	.v-textfield-right-to-left {
	    text-align: right;
	}
    .v-margin-left   {padding-left:   8px;}
    .v-margin-right  {padding-right:  8px;}
    .v-margin-top    {padding-top:    8PX;}
    .v-margin-bottom {padding-bottom: 8px;}
    
}
